<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gamesPnL" android:versionName="R-1.3" android:versionCode="13">
    <application android:icon="@drawable/icon" android:label="@string/appname">
		<activity android:label="@string/appname" android:name="com.gamesPnL.DataEntry">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>
		<activity android:label="@string/setupName" android:name="com.gamesPnL.SetupWin">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>    
        <activity android:label="@string/appname" android:name="com.gamesPnL.loginHandler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:label="@string/appname" android:name="com.gamesPnL.AboutHandler">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>
	    <activity android:label="@string/appname" android:name="com.gamesPnL.AfterLogin">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		<activity android:label="@string/listRes" android:name="com.gamesPnL.ListRes">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<action android:name="android.intent.action.PICK" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
		</activity>
		<activity android:label="@string/dispFullItem" android:name="com.gamesPnL.DetailDisplay">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<action android:name="android.intent.action.PICK" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
		</activity>
		<activity android:label="@string/dispFullItem" android:name="com.gamesPnL.AddGame">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<action android:name="android.intent.action.PICK" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		</activity>
		<activity android:label="@string/dispFullItem" android:name="com.gamesPnL.GraphData">
		<intent-filter>
			<action android:name="android.intent.action.VIEW" />
			<action android:name="android.intent.action.PICK" />
			<category android:name="android.intent.category.DEFAULT" />
		</intent-filter>
		</activity>		
		<provider android:authorities="com.gamesPnL.provider.userContentProvider" android:name="com.gamesPnL.GamePnLTrackerProvider" />
			
			<!-- The application's publisher ID assigned by AdMob -->
			<meta-data android:value="a14d18e1cd0e067" android:name="ADMOB_PUBLISHER_ID" />
	        
			<!-- AdMobActivity definition -->
			<activity android:name="com.admob.android.ads.AdMobActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboard|keyboardHidden" />
			<!-- Track Market installs -->          
			<receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
	</application>
	
	<!-- AdMob SDK requires Internet permission -->
	<uses-permission android:name="android.permission.INTERNET" />
<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest> 